@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Source+Code+Pro:wght@200;300;400&display=swap');

header > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content {
	font-family: 'Source Code Pro', monospace;
	font-size: 15px;
}

#selfLink{
	color: black;
}

#wrapper{
	margin-left: 32%;
	margin-right: 32%;
}

#useage-heading {
	margin-top: 40px;
	font-family: 'Frijole', cursive;
	font-size: 22px;
	color: #fc7303;
}

#first-example {
	font-size: 13px;
	border: solid 1px #E3E0E0;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow-wrap: break-word;
}

#first-example-method {
	color: #FF4500;
}

#first-example-link > a {
	color: black;
}

#first-example-response  {
	margin-top: 30px;
	font-size: 13px;
	border: solid 1px #E3E0E0;
	padding: 10px;
	margin-bottom: 30px;
	word-break: break-all;
}

#first-example-response > p {
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 2px;
	font-size: 13px;
	word-break: break-all;
}

#first-example-response > pre {
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 2px;
	font-size: 13px;
	word-break: break-all;
}

#contact-heading {
	margin-top: 10px;
	font-family: 'Frijole', cursive;
	font-size: 22px;
	color: #fc7303;
}

footer {
	margin-top: 40px;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 13px;
}

#github-link {
	color: black;
}


.form-input {
	margin-bottom: 20px;
	padding: 12px;
	width: 70%;
	border: 1px solid #E3E0E0;
	font-family: 'Source Code Pro', monospace;
	color: gray;
}

#form-msg {
	resize: none;
}

#form-button {
	width: 20%;
	color: #FF4500;
	font-weight: bold;
	background-color: white;
	cursor: pointer;
}

